<div class="loginwrapper">

<div class="loginfield">
  <h1>Log In</h1>
</div>

<h2><%= flash[:error] %></h2>

<%= form_tag login_path do %>

<div class="loginfield">
  <%= label_tag :email %>
  <%= email_field_tag :email %>
</div>

<div class="loginfield">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<div class="loginfield">
  <%= submit_tag "Log in" %>
</div>

<% end %>
</div>
<%= google_sign_in(url: session_path) do %>
  # You can replace this with whatever design you please for the button.
  # You should follow Google's brand guidelines for Google Sign-In, though:
  # https://developers.google.com/identity/branding-guidelines
  <%= button_tag("Signin with Google") %>
<% end %>
