<div class="loginwrapper">

<div class="titlefield">
  <h1>Sign In</h1>
</div>

<h2><%= flash[:error] %></h2>

<%= form_tag login_path do %>

<div class="loginfield01">
  <%= label_tag :email %>
  <%= email_field_tag :email %>
</div>

<div class="loginfield02">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>

<div class="loginfield03">
  <%= submit_tag "Log in" %>
</div>

<% end %>
